appdirs==1.4.3
avro-python3==1.8.2
backcall==0.1.0
bleach==3.0.2
cached-property==1.4.2
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
confluent-kafka==0.11.6
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
Flask==1.0.2
graphviz==0.10.1
httpie==0.9.9
idna==2.6
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
itsdangerous==0.24
jedi==0.13.1
Jinja2==2.10
jsonpickle==1.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.1
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.4
namesgenerator==0.3
nbconvert==6.5.1
nbformat==4.4.0
notebook==5.7.2
numpy==1.14.3
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.5
Pillow==5.3.0
prometheus-client==0.4.2
prompt-toolkit==2.0.7
py4j==0.10.7
Pygments==2.2.0
pyparsing==2.2.0
pyspark==2.4.0
python-dateutil==2.7.2
pytz==2018.4
pywinpty==0.5.4
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.18.4
requests-toolbelt==0.8.0
sas-esppy==1.0.0
Send2Trash==1.5.0
six==1.11.0
SOAPpy-py3==0.52.24
suds-jurko==0.6
suds-jurko-requests==1.2
swat==1.5.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
ws4py==0.5.1
wstools-py3==0.54.4
zeep==2.5.0
csv
avro