avro-python3==1.8.2
confluent-kafka==0.11.6
idna==2.6
jsonpickle==1.0
jsonschema==2.6.0
kiwisolver==1.0.1
namesgenerator==0.3
pickleshare==0.7.5
Pillow==8.2.0
py4j==0.10.7
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
pywinpty==0.5.4
pyzmq==17.1.2
qtconsole==4.4.3
six==1.11.0

